<%= form_for @voter_registration_action do |form| %>
  <p>
    <%= form.label :name %>
    <p>Give the action a basic name</p>
    <%= form.text_field :name %>
  </p>

  <fieldset class="gllpLatlonPicker">
    <legend>Location</legend>
    <p>This is used for placing the event on a map, and for searching for events near you.</p>
    <p>Search for the location of you event, (e.g. by post code), and this will autofill the latitude and longitude of the location</p>
    <p>Feel free to drag the pin to an exact location</p>
    <label for="location_search">Location search</label>
    <input type="text" class="gllpSearchField" id="location_search">
    <input type="button" class="gllpSearchButton" value="search">
    <div class="gllpMap">Google Maps</div>
    <input type="hidden" class="gllpZoom" value="5"/>

    <p>
      <%= form.label :latitude %>
      <%= form.text_field :latitude, class: 'gllpLatitude' %>
    </p>
    <p>
      <%= form.label :longitude %>
      <%= form.text_field :longitude, class: 'gllpLongitude' %>
    </p>
  </fieldset>

  <p>
    <%= form.label :meeting_point %>
    <p>This is used as a more human description of the meeting point. This can either be a full address, or description eg: "outside Sainsbury's"</p>
    <%= form.text_area :meeting_point %>
  </p>
  <p>
    <%= form.label :time, "Date and Time" %>
    <%= form.text_field :time %>
  </p>
  <p>
    <%= form.label :organiser %>
    <%= form.text_field :organiser %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

<script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script src="/javascripts/jquery-gmaps-latlon-picker.js"></script>
