  <div class="field_group">
    <%= form.label :name, "Event Name" %>
    <%= form.text_field :name %>
  </div>
  <div class="field_group">
    <%= form.label :meeting_point, "Meeting point" %>
    <p>Please describe the meeting point for the event. This can either be a full address, or description eg: "outside Sainsbury's". We will use this to add it to the map.</p>
    <%= form.text_area :meeting_point %>
  </div>
  <div class="field_group">
    <%= form.label :time, "Date and Time" %>
    <%= form.text_field :time, class: 'datepicker' %>
  </div>
  <div class="field_group">
    <%= form.label :organiser_name %>
    <%= form.text_field :organiser_name %>
  </div>
  <div class="field_group">
    <%= form.label :organiser_email %>
    <%= form.text_field :organiser_email %>
  </div>
  <div class="field_group">
    <%= form.label :organiser_email_public, "Can we publish this email address online?" %>
    <%= form.check_box :organiser_email_public %>
  </div>
  <div class="field_group">
    <%= form.label :organiser_phone %>
    <%= form.text_field :organiser_phone %>
  </div>
  <div class="field_group">
    <%= form.label :organiser_phone_public, "Can we publish this phone number online?" %>
    <%= form.check_box :organiser_phone_public %>
  </div>
  <div class="field_group">
    <%= form.label :organiser_address %>
    <%= form.text_area :organiser_address %>
  </div>
  <div class="field_group">
    <%= form.label :fb_event_page %>
    <%= form.text_field :fb_event_page %>
  </div>
  <div class="field_group">
    <%= form.label :url %>
    <%= form.text_field :url %>
  </div>

  <%= form.submit "Create your event" %>

  <hr />

<script src="/javascripts/jquery.datetimepicker.min.js"></script>
<script type="text/javascript">
  $(function() {
    $( ".datepicker" ).datetimepicker();
  });
</script>
