  <p>
    <%= form.label :name %>
    <p>Give the action a basic name</p>
    <%= form.text_field :name %>
  </p>

  <fieldset class="gllpLatlonPicker">
    <legend>Location</legend>
    <p>This is used for placing the event on a map, and for searching for events near you.</p>
    <p>Search for the location of you event, (e.g. by post code), and this will autofill the latitude and longitude of the location</p>
    <p>Feel free to drag the pin to an exact location</p>
    <label for="location_search">Location search</label>
    <input type="text" class="gllpSearchField" id="location_search">
    <input type="button" class="gllpSearchButton" value="search">
    <div class="gllpMap">Google Maps</div>
    <input type="hidden" class="gllpZoom" value="5"/>

    <p>
      <%= form.label :latitude %>
      <%= form.text_field :latitude, class: 'gllpLatitude' %>
    </p>
    <p>
      <%= form.label :longitude %>
      <%= form.text_field :longitude, class: 'gllpLongitude' %>
    </p>
  </fieldset>

  <p>
    <%= form.label :meeting_point %>
    <p>This is used as a more human description of the meeting point. This can either be a full address, or description eg: "outside Sainsbury's"</p>
    <%= form.text_area :meeting_point %>
  </p>
  <p>
    <%= form.label :time, "Date and Time" %>
    <%= form.text_field :time, class: 'datepicker' %>
  </p>
  <p>
    <%= form.label :organiser_name %>
    <%= form.text_field :organiser_name %>
  </p>
  <p>
    <%= form.label :organiser_email %>
    <%= form.text_field :organiser_email %>
  </p>
  <p>
    <%= form.label :organiser_phone %>
    <%= form.text_field :organiser_phone %>
  </p>
  <p>
    <%= form.label :organiser_address %>
    <%= form.text_area :organiser_address %>
  </p>
  <p>
    <%= form.label :fb_event_page %>
    <%= form.text_field :fb_event_page %>
  </p>
  <p>
    <%= form.label :url %>
    <%= form.text_field :url %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script src="/javascripts/jquery-gmaps-latlon-picker.js"></script>
<script src="/javascripts/jquery.datetimepicker.min.js"></script>
<script type="text/javascript">
  $(function() {
    $( ".datepicker" ).datetimepicker();
  });
</script>
