<% if flash[:success] %>
  <div class="copy--red">
    <div class="row copy success">
      <p>Thank you for offering to help run an event. It is currently waiting for moderation, and should be online soon, and we'll be in contact to see how we can help.</p>
    </div>
  </div>
<% end %>

<div class="row copy">
  <h2>Democracy is under threat</h2>
  <p>Changes to the electoral system mean almost two million people are about to drop off the electoral register, without realising it.</p>

  <p>Democracy SOS is an urgent voter registration campaign by Momentum, starting with a national day of action on 24 October, to re-register those who are being disenfranchised.</p>

  <p><strong>The map below shows the events people are organising so far. Can you organise one near you?</strong></p>

</div>


<div class="page__search">
  <div class="map">
      <div class="map__search">
        <%= form_tag nil, method: :get, class: 'row' do %>
          <%= text_field_tag :location, params[:location], placeholder: "Find an event..." %>
          <%= submit_tag "Search" %>
        <% end %>
      </div>
      <% if @search_results %>
        <div class="search_list">
          <ul>
            <% @search_results.each do |voter_registration_action| %>
              <li><%= link_to voter_registration_action.name, voter_registration_action %>: <%= voter_registration_action.distance_from(params[:location]).round(1) %> miles away</li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div id="map" style="width:100%; height:350px;"></div>
  </div>
</div>

<div class="row copy host-event">
  <p>No event near you? <%= link_to "Why not host one?", new_voter_registration_action_path %>
</div>

<div class="row copy">

  <h2>The facts</h2>

  <p>An estimated 1.9million people are set to drop off the electoral register because of the government’s introduction of 'individual electoral registration'.</p>

  <p>In the past, one person could register on everyone’s behalf, government changes mean that each individual needs to register themselves. Many won’t.</p>

  <p>Another 8 million people are already missing from the register. That’s almost 1 in 5 adults without the vote. That’s not democracy.</p>

  <p>Who is this most likely to affect?</p>

  <ul>
    <li>Young people (only 25% of 17-year-olds are on the register)
    <li>Students
    <li>People in temporary or shared housing
    <li>People who are new to the country
  </ul>

</div>

<div class="copy--red">
  <div class="row copy">
    <h3>Why it matters</h3>

    <ul>
      <li>This is important not only because we have hugely important elections coming up in May 2016 in Scotland, London, Wales, and many English councils, but also because it will have a significant effect on the 2020 general election by reducing the representation of poorer areas.
      <li>Before the next general election, the Boundary Commission will redraw constituency boundaries. The Commission will do this based on who is on the electoral register on 1 December this year.
      <li>Areas where more people fail to register will get fewer seats. Labour will lose seats and the Tories will gain, which is why they are doing it.
    </ul>
  </div>
</div>

  <div class="row copy">
    <h3>Democracy SOS</h3>

    <p>Democracy SOS is a month-long Momentum campaign, supported by the TSSA union, to re-register those disenfranchised by individual electoral registration as well as registering new voters. We believe it’s vital to register voters to revitalise democracy and build a more progressive politics — these are the same goals which inspired Jeremy Corbyn’s election as Labour Party leader.</p>

    <p>Democracy SOS will be launched with a national day of action for voter registration on 24 October. Momentum is calling on people to organise events, rallies and stalls to encourage people to register to vote, first on 24 October and then throughout the rest of the rest of October and November. </p>

  	<p>We are working alongside local Labour Party activists and others - if you are organising a local voter registration drive feel free to add it to our map.</p>

  	<p>Together we can put this issue on the map, and build a society where everyone is represented.</p>
  </div>
</div>

<script>
  $(function() {
    var map = new google.maps.Map(document.getElementById('map'), {
      scrollwheel: false,
      streetViewControl: false,
      mapTypeControl: false,
      <% if @search_location.present? %>
        zoom: 10,
        center: {lat: <%= @search_location.coordinates[0] %>, lng: <%= @search_location.coordinates[1] %>}
      <% else %>
        zoom: 5,
        center: {lat: 54.5, lng: -3}
      <% end %>
    });
    <% @all_voter_registration_actions.each do |voter_registration_action| %>
      var infowindow<%= voter_registration_action.id %> = new google.maps.InfoWindow({
        content: '<%= link_to voter_registration_action.name, voter_registration_action_path(voter_registration_action) %>'
      });

      var marker<%= voter_registration_action.id %> = new google.maps.Marker({
        position: {lat: <%= voter_registration_action.latitude %>, lng: <%= voter_registration_action.longitude %>},
        map: map
      });
      marker<%= voter_registration_action.id %>.addListener('click', function() {
        infowindow<%= voter_registration_action.id %>.open(map, marker<%= voter_registration_action.id %>);
      });
    <% end %>
  })
</script>

<div class="copy--red register-to-vote">
  <div class="copy row">
    <p><a href="http://www.gov.uk/register-to-vote">Register to vote on GOV.UK</a><p>
  </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
