<h1><%= @voter_registration_action.name %></h1>

<p>Meeting Point: <%= @voter_registration_action.meeting_point %></p>
<p>Date and Time: <%= @voter_registration_action.time %></p>
<p>Organiser Name: <%= @voter_registration_action.organiser_name %></p>
<p>Organiser Phone: <%= @voter_registration_action.organiser_phone %></p>
<p>Organiser Email: <%= @voter_registration_action.organiser_email %></p>
<p>Organiser Address: <%= @voter_registration_action.organiser_address %></p>
<p>Facebook Event Page: <%= @voter_registration_action.fb_event_page %></p>
<p>Web Address: <%= @voter_registration_action.url %></p>
