<h1>Find your local voter registration drive</h1>

<%= form_tag nil, method: :get do %>
  <%= text_field_tag :location %>
  <%= submit_tag "Search" %>
<% end %>

<ul>
  <% @actions.each do |action| %>
    <li><%= link_to action.name, action %>: <%= action.distance_from(params[:location]).round(1) %> miles away</li>
  <% end %>
</ul>
