<!DOCTYPE html>
<html>
<head>
  <title>MomentumVoterReg</title>
  <link type="text/css" rel="stylesheet" href="/stylesheets/normalize.css">
  <link type="text/css" rel="stylesheet" href="/stylesheets/foundation.min.css">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="header">
      <ul class="menu">
          <li>
              <%= link_to image_tag("icon.png"), "http://peoplesmomentum.com" %>
          </li>
          <li>
              <h1><%= link_to "Momentum", "http://peoplesmomentum.com" %></h1>
          </li>
      </ul>
      <span class="tagline">Democracy SOS</span>
      <ul class="social">
          <li class="social__item social__item--facebook">
              <a href="https://www.facebook.com/PeoplesMomentum">f</a>
          </li>
          <li class="social__item social__item--twitter">
              <a href="https://twitter.com/peoplesmomentum">t</a>
          </li>
      </ul>
  </div>

  <%= yield %>

</body>
</html>
